/* Формат записи */

body {
	background-color: rgb(255, 75, 75, 0.5);
	/* Четёртый параметр отвечает за прозрачность фона */
}

/* Примеры */

#simple_text {
	/* Цвет текста */
	color:rgba(0, 105, 197, 0.63);
	/* Задний фон блока */
	background-color: rgb(155, 208, 255);
	/* Размер шрифта */
	font-size: 20px;
	/* Скругление углов */
	border-radius: 20px;
	/* Отступы */
	margin: 30px;
	/* Отцентровка текста */
	text-align: center;
}